@import "tailwindcss";

/* Storybookのソースをスキャン対象に追加 */
@source "../stories/**/*.ts";

/* Zen Maru Gothic - セルフホスト（サブセット版） */
@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('/fonts/ZenMaruGothic-Regular-subset.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('/fonts/ZenMaruGothic-Medium-subset.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zen Maru Gothic';
  src: url('/fonts/ZenMaruGothic-Bold-subset.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Zen Maru Gothic', sans-serif;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@theme {
  /* ===== カラー ===== */

  /* 背景色 */
  --color-bg-main: #F7F4E9; /* grey.94 */
  --color-bg-section: #F5F0E8;
  --color-white-70: rgba(255, 255, 255, 0.7); /* White 70% - オーバーレイ等 */

  /* メインカラー（Spring Green） */
  --color-primary: #3D8B6E; /* spring-green.39 */
  --color-primary-dark: #2D6B52;
  --color-primary-light: #4DA882; /* spring-green.48 */
  --color-primary-0: rgba(61, 139, 110, 0); /* spring-green.39 0% - グラデーション用 */
  --color-primary-10: rgba(61, 139, 110, 0.1); /* spring-green.39 10% - 背景のアクセント等 */
  --color-primary-30: rgba(61, 139, 110, 0.3); /* spring-green.39 30% - マーカー等 */

  /* アクセントカラー（Orange） */
  --color-accent: #E8A87C; /* orange.70 */
  --color-accent-dark: #D8956A;
  --color-accent-light: #F0BFA0;

  /* マーカーカラー（Gold） */
  --color-marker-gold: rgba(212, 160, 23, 0.6); /* MVのアンダーライン */

  /* CTAボタン */
  --color-cta: #D97757;
  --color-cta-dark: #C86747;

  /* 確認ボタン */
  --color-confirm: #C9902E;
  --color-confirm-dark: #AA700B;
  --color-confirm-border: #AA700B;

  /* グレー系 */
  --color-grey-91: #E5E7EB; /* grey.91 - ボーダー等 */
  --color-grey-96: #F3F4F6; /* grey.96 - 薄い背景 */

  /* テキストカラー */
  --color-text: #374151; /* azure.27 */
  --color-text-muted: #6B7280; /* grey.46 */

  /* エラー */
  --color-error: #DC2626; /* red.51 */

  /* タグ背景色 */
  --color-tag-site: #ECF3F0; /* タグ-サイト種別 */
  --color-tag-service: #F7F4E9; /* タグ-サービス */

  /* 技術ブランドカラー */
  --color-brand-html: #E34F26; /* red.52 - HTML */
  --color-brand-javascript: #F7DF1E; /* yellow.54 - JavaScript */
  --color-brand-typescript: #3178C6; /* azure.48 - TypeScript */
  --color-brand-react: #61DAFB; /* cyan.68 - React */
  --color-brand-astro: #BC52EE; /* violet.63 - Astro */
  --color-brand-tailwind: #36C7D0; /* cyan.51 - Tailwind */
  --color-brand-wordpress: #21759B; /* azure.37 - WordPress */
  --color-brand-docker: #2496ED; /* azure.54 - Docker */
  --color-brand-blue: #4169E1; /* blue.57 */

  /* ボタン影 */
  --shadow-button: 0px 5px 0px 0px rgba(61, 61, 61, 0.2);

  /* カード影 */
  --shadow-card: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);

  /* ===== レイアウト ===== */

  /* コンテナ幅 */
  --max-width-container: 1440px;
  --max-width-content: 1240px;

  /* プログレスバー幅 */
  --width-progress: 600px;

  /* サイドバー幅（w-sidebar, ps-sidebar等で使用） */
  --spacing-sidebar: 200px;

  /* ヘッダー高さ */
  --height-header: 80px;

  /* 最小高さ */
  --min-height-page: calc(100dvh - var(--height-header));

  /* ===== タイポグラフィ ===== */

  /* フォントサイズ（Figmaトークン） */
  --font-size-2xs: 0.625rem; /* 10px */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-xs-plus: 0.8125rem; /* 13px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-sm-plus: 0.9375rem; /* 15px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */

  /* レスポンシブフォントサイズ */
  --font-size-section-title: clamp(2rem, 1.5rem + 2vw, 3rem); /* セクションタイトル: 32px → 48px */
  --font-size-section-subtitle: clamp(1rem, 0.9rem + 0.5vw, 1.125rem); /* セクションサブタイトル: 16px → 18px */

  /* フォントサイズ（px指定用: 1px〜120px） */
  --font-size-1px: 1px;
  --font-size-2px: 2px;
  --font-size-3px: 3px;
  --font-size-4px: 4px;
  --font-size-5px: 5px;
  --font-size-6px: 6px;
  --font-size-7px: 7px;
  --font-size-8px: 8px;
  --font-size-9px: 9px;
  --font-size-10px: 10px;
  --font-size-11px: 11px;
  --font-size-12px: 12px;
  --font-size-13px: 13px;
  --font-size-14px: 14px;
  --font-size-15px: 15px;
  --font-size-16px: 16px;
  --font-size-17px: 17px;
  --font-size-18px: 18px;
  --font-size-19px: 19px;
  --font-size-20px: 20px;
  --font-size-21px: 21px;
  --font-size-22px: 22px;
  --font-size-23px: 23px;
  --font-size-24px: 24px;
  --font-size-25px: 25px;
  --font-size-26px: 26px;
  --font-size-27px: 27px;
  --font-size-28px: 28px;
  --font-size-29px: 29px;
  --font-size-30px: 30px;
  --font-size-31px: 31px;
  --font-size-32px: 32px;
  --font-size-33px: 33px;
  --font-size-34px: 34px;
  --font-size-35px: 35px;
  --font-size-36px: 36px;
  --font-size-37px: 37px;
  --font-size-38px: 38px;
  --font-size-39px: 39px;
  --font-size-40px: 40px;
  --font-size-41px: 41px;
  --font-size-42px: 42px;
  --font-size-43px: 43px;
  --font-size-44px: 44px;
  --font-size-45px: 45px;
  --font-size-46px: 46px;
  --font-size-47px: 47px;
  --font-size-48px: 48px;
  --font-size-49px: 49px;
  --font-size-50px: 50px;
  --font-size-51px: 51px;
  --font-size-52px: 52px;
  --font-size-53px: 53px;
  --font-size-54px: 54px;
  --font-size-55px: 55px;
  --font-size-56px: 56px;
  --font-size-57px: 57px;
  --font-size-58px: 58px;
  --font-size-59px: 59px;
  --font-size-60px: 60px;
  --font-size-61px: 61px;
  --font-size-62px: 62px;
  --font-size-63px: 63px;
  --font-size-64px: 64px;
  --font-size-65px: 65px;
  --font-size-66px: 66px;
  --font-size-67px: 67px;
  --font-size-68px: 68px;
  --font-size-69px: 69px;
  --font-size-70px: 70px;
  --font-size-71px: 71px;
  --font-size-72px: 72px;
  --font-size-73px: 73px;
  --font-size-74px: 74px;
  --font-size-75px: 75px;
  --font-size-76px: 76px;
  --font-size-77px: 77px;
  --font-size-78px: 78px;
  --font-size-79px: 79px;
  --font-size-80px: 80px;
  --font-size-81px: 81px;
  --font-size-82px: 82px;
  --font-size-83px: 83px;
  --font-size-84px: 84px;
  --font-size-85px: 85px;
  --font-size-86px: 86px;
  --font-size-87px: 87px;
  --font-size-88px: 88px;
  --font-size-89px: 89px;
  --font-size-90px: 90px;
  --font-size-91px: 91px;
  --font-size-92px: 92px;
  --font-size-93px: 93px;
  --font-size-94px: 94px;
  --font-size-95px: 95px;
  --font-size-96px: 96px;
  --font-size-97px: 97px;
  --font-size-98px: 98px;
  --font-size-99px: 99px;
  --font-size-100px: 100px;
  --font-size-101px: 101px;
  --font-size-102px: 102px;
  --font-size-103px: 103px;
  --font-size-104px: 104px;
  --font-size-105px: 105px;
  --font-size-106px: 106px;
  --font-size-107px: 107px;
  --font-size-108px: 108px;
  --font-size-109px: 109px;
  --font-size-110px: 110px;
  --font-size-111px: 111px;
  --font-size-112px: 112px;
  --font-size-113px: 113px;
  --font-size-114px: 114px;
  --font-size-115px: 115px;
  --font-size-116px: 116px;
  --font-size-117px: 117px;
  --font-size-118px: 118px;
  --font-size-119px: 119px;
  --font-size-120px: 120px;

  /* 行間（Figmaトークン） */
  --leading-tight: 1.25; /* 20px base */
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-normal-plus: 1.6; /* フォーム等の行間 */
  --leading-relaxed: 1.625; /* 26px base */
  --leading-relaxed-plus: 1.8; /* 本文の読みやすい行間 */
  --leading-loose: 2;

  /* 字間（Figmaトークン） */
  --tracking-tight: 0.35px; /* letter-spacing.0_35 */
  --tracking-normal: 0.5px; /* letter-spacing.0_5 */

  /* ===== 間隔（px指定用: 1px〜170px） ===== */
  --spacing-1px: 1px;
  --spacing-2px: 2px;
  --spacing-3px: 3px;
  --spacing-4px: 4px;
  --spacing-5px: 5px;
  --spacing-6px: 6px;
  --spacing-7px: 7px;
  --spacing-8px: 8px;
  --spacing-9px: 9px;
  --spacing-10px: 10px;
  --spacing-11px: 11px;
  --spacing-12px: 12px;
  --spacing-13px: 13px;
  --spacing-14px: 14px;
  --spacing-15px: 15px;
  --spacing-16px: 16px;
  --spacing-17px: 17px;
  --spacing-18px: 18px;
  --spacing-19px: 19px;
  --spacing-20px: 20px;
  --spacing-21px: 21px;
  --spacing-22px: 22px;
  --spacing-23px: 23px;
  --spacing-24px: 24px;
  --spacing-25px: 25px;
  --spacing-26px: 26px;
  --spacing-27px: 27px;
  --spacing-28px: 28px;
  --spacing-29px: 29px;
  --spacing-30px: 30px;
  --spacing-31px: 31px;
  --spacing-32px: 32px;
  --spacing-33px: 33px;
  --spacing-34px: 34px;
  --spacing-35px: 35px;
  --spacing-36px: 36px;
  --spacing-37px: 37px;
  --spacing-38px: 38px;
  --spacing-39px: 39px;
  --spacing-40px: 40px;
  --spacing-41px: 41px;
  --spacing-42px: 42px;
  --spacing-43px: 43px;
  --spacing-44px: 44px;
  --spacing-45px: 45px;
  --spacing-46px: 46px;
  --spacing-47px: 47px;
  --spacing-48px: 48px;
  --spacing-49px: 49px;
  --spacing-50px: 50px;
  --spacing-51px: 51px;
  --spacing-52px: 52px;
  --spacing-53px: 53px;
  --spacing-54px: 54px;
  --spacing-55px: 55px;
  --spacing-56px: 56px;
  --spacing-57px: 57px;
  --spacing-58px: 58px;
  --spacing-59px: 59px;
  --spacing-60px: 60px;
  --spacing-61px: 61px;
  --spacing-62px: 62px;
  --spacing-63px: 63px;
  --spacing-64px: 64px;
  --spacing-65px: 65px;
  --spacing-66px: 66px;
  --spacing-67px: 67px;
  --spacing-68px: 68px;
  --spacing-69px: 69px;
  --spacing-70px: 70px;
  --spacing-71px: 71px;
  --spacing-72px: 72px;
  --spacing-73px: 73px;
  --spacing-74px: 74px;
  --spacing-75px: 75px;
  --spacing-76px: 76px;
  --spacing-77px: 77px;
  --spacing-78px: 78px;
  --spacing-79px: 79px;
  --spacing-80px: 80px;
  --spacing-81px: 81px;
  --spacing-82px: 82px;
  --spacing-83px: 83px;
  --spacing-84px: 84px;
  --spacing-85px: 85px;
  --spacing-86px: 86px;
  --spacing-87px: 87px;
  --spacing-88px: 88px;
  --spacing-89px: 89px;
  --spacing-90px: 90px;
  --spacing-91px: 91px;
  --spacing-92px: 92px;
  --spacing-93px: 93px;
  --spacing-94px: 94px;
  --spacing-95px: 95px;
  --spacing-96px: 96px;
  --spacing-97px: 97px;
  --spacing-98px: 98px;
  --spacing-99px: 99px;
  --spacing-100px: 100px;
  --spacing-101px: 101px;
  --spacing-102px: 102px;
  --spacing-103px: 103px;
  --spacing-104px: 104px;
  --spacing-105px: 105px;
  --spacing-106px: 106px;
  --spacing-107px: 107px;
  --spacing-108px: 108px;
  --spacing-109px: 109px;
  --spacing-110px: 110px;
  --spacing-111px: 111px;
  --spacing-112px: 112px;
  --spacing-113px: 113px;
  --spacing-114px: 114px;
  --spacing-115px: 115px;
  --spacing-116px: 116px;
  --spacing-117px: 117px;
  --spacing-118px: 118px;
  --spacing-119px: 119px;
  --spacing-120px: 120px;
  --spacing-121px: 121px;
  --spacing-122px: 122px;
  --spacing-123px: 123px;
  --spacing-124px: 124px;
  --spacing-125px: 125px;
  --spacing-126px: 126px;
  --spacing-127px: 127px;
  --spacing-128px: 128px;
  --spacing-129px: 129px;
  --spacing-130px: 130px;
  --spacing-131px: 131px;
  --spacing-132px: 132px;
  --spacing-133px: 133px;
  --spacing-134px: 134px;
  --spacing-135px: 135px;
  --spacing-136px: 136px;
  --spacing-137px: 137px;
  --spacing-138px: 138px;
  --spacing-139px: 139px;
  --spacing-140px: 140px;
  --spacing-141px: 141px;
  --spacing-142px: 142px;
  --spacing-143px: 143px;
  --spacing-144px: 144px;
  --spacing-145px: 145px;
  --spacing-146px: 146px;
  --spacing-147px: 147px;
  --spacing-148px: 148px;
  --spacing-149px: 149px;
  --spacing-150px: 150px;
  --spacing-151px: 151px;
  --spacing-152px: 152px;
  --spacing-153px: 153px;
  --spacing-154px: 154px;
  --spacing-155px: 155px;
  --spacing-156px: 156px;
  --spacing-157px: 157px;
  --spacing-158px: 158px;
  --spacing-159px: 159px;
  --spacing-160px: 160px;
  --spacing-161px: 161px;
  --spacing-162px: 162px;
  --spacing-163px: 163px;
  --spacing-164px: 164px;
  --spacing-165px: 165px;
  --spacing-166px: 166px;
  --spacing-167px: 167px;
  --spacing-168px: 168px;
  --spacing-169px: 169px;
  --spacing-170px: 170px;
  --spacing-171px: 171px;
  --spacing-172px: 172px;
  --spacing-173px: 173px;
  --spacing-174px: 174px;
  --spacing-175px: 175px;
  --spacing-176px: 176px;
  --spacing-177px: 177px;
  --spacing-178px: 178px;
  --spacing-179px: 179px;
  --spacing-180px: 180px;
  --spacing-181px: 181px;
  --spacing-182px: 182px;
  --spacing-183px: 183px;
  --spacing-184px: 184px;
  --spacing-185px: 185px;
  --spacing-186px: 186px;
  --spacing-187px: 187px;
  --spacing-188px: 188px;
  --spacing-189px: 189px;
  --spacing-190px: 190px;
  --spacing-191px: 191px;
  --spacing-192px: 192px;
  --spacing-193px: 193px;
  --spacing-194px: 194px;
  --spacing-195px: 195px;
  --spacing-196px: 196px;
  --spacing-197px: 197px;
  --spacing-198px: 198px;
  --spacing-199px: 199px;
  --spacing-200px: 200px;
  --spacing-275px: 275px; /* サービスカード幅 */

  /* 特殊用途の間隔 */
  --spacing-15: 60px; /* aboutページのセクション余白 */
  --spacing-1-25: 5px; /* ハンバーガーメニューのline間隔 */

  /* ===== ボーダー ===== */
  --border-width-1: 1px; /* stroke-weight.1 */
  --border-width-2: 2px; /* stroke-weight.2 */
  --border-width-3: 3px; /* stroke-weight.3 / プロフィール画像の枠線 */

  /* ===== 角丸（px指定用: 1px〜50px） ===== */
  --radius-1px: 1px;
  --radius-2px: 2px;
  --radius-3px: 3px;
  --radius-4px: 4px;
  --radius-5px: 5px;
  --radius-6px: 6px;
  --radius-7px: 7px;
  --radius-8px: 8px;
  --radius-9px: 9px;
  --radius-10px: 10px;
  --radius-11px: 11px;
  --radius-12px: 12px;
  --radius-13px: 13px;
  --radius-14px: 14px;
  --radius-15px: 15px;
  --radius-16px: 16px;
  --radius-17px: 17px;
  --radius-18px: 18px;
  --radius-19px: 19px;
  --radius-20px: 20px;
  --radius-21px: 21px;
  --radius-22px: 22px;
  --radius-23px: 23px;
  --radius-24px: 24px;
  --radius-25px: 25px;
  --radius-26px: 26px;
  --radius-27px: 27px;
  --radius-28px: 28px;
  --radius-29px: 29px;
  --radius-30px: 30px;
  --radius-31px: 31px;
  --radius-32px: 32px;
  --radius-33px: 33px;
  --radius-34px: 34px;
  --radius-35px: 35px;
  --radius-36px: 36px;
  --radius-37px: 37px;
  --radius-38px: 38px;
  --radius-39px: 39px;
  --radius-40px: 40px;
  --radius-41px: 41px;
  --radius-42px: 42px;
  --radius-43px: 43px;
  --radius-44px: 44px;
  --radius-45px: 45px;
  --radius-46px: 46px;
  --radius-47px: 47px;
  --radius-48px: 48px;
  --radius-49px: 49px;
  --radius-50px: 50px;

  /* ===== z-index ===== */
  --z-modal: 60; /* モバイルメニューボタン */
  --z-overlay: 49; /* オーバーレイ背景 */

  /* ===== その他 ===== */

  /* アスペクト比 */
  --aspect-card: 16/10; /* Works実績カードの画像比率 */

  /* translate */
  --translate-hamburger: 5px; /* ハンバーガーアイコンのアニメーション移動量 */

  /* 背景 */
  --background-image-marker: linear-gradient(transparent 60%, rgba(61, 139, 110, 0.3) 60%); /* ヒーローのマーカー効果 */
  --background-image-marker-gold: linear-gradient(transparent 70%, rgba(212, 160, 23, 0.6) 70%); /* MVのゴールドマーカー */
  --background-size-zero: 0% 100%; /* マーカーアニメーション開始状態 */

  /* アニメーション */
  --animate-marker-draw: marker-draw 1s ease-out 0.3s forwards; /* ヒーローのマーカー描画アニメーション */
}

@keyframes marker-draw {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

/* スクロールバー非表示 */
@utility scrollbar-none {
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* セレクトボックスの矢印位置（右端）*/
@utility bg-position-select {
  background-position: right 16px center;
}

/* セレクトボックスの矢印サイズ */
@utility bg-size-select {
  background-size: 16px 16px;
}

/* モバイルスライダーのカード幅 */
@utility basis-card {
  flex-basis: 85%;
}

/* セクションタイトル用フォントサイズ（レスポンシブ） */
@utility text-section-title {
  font-size: var(--font-size-section-title);
}

@utility text-section-subtitle {
  font-size: var(--font-size-section-subtitle);
}

/* ===== プログレスバー ===== */

/* プログレスバーコンテナ */
.progressbar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* プログレスバー各ステップ */
.progressbar .item {
  position: relative;
  width: 33%;
  text-align: center;
  padding: 13px 0;
  line-height: 1.5;
  background: var(--color-grey-91);
  color: var(--color-text-muted);
  border-radius: 8px 0 0 8px;
}

.progressbar .item:not(:first-child) {
  border-radius: 0;
}

.progressbar .item:last-child {
  border-radius: 0 8px 8px 0;
}

/* 矢印形状（border使用） */
.progressbar .item:not(:last-child)::before,
.progressbar .item:not(:last-child)::after {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 100%;
  content: '';
  border: 37px solid transparent;
  border-left: 20px solid var(--color-grey-91);
  margin: auto;
}

.progressbar .item:not(:last-child)::before {
  margin-left: 1px;
  border-left-color: #FFF;
}

/* アクティブ状態 */
.progressbar .item.active {
  z-index: 1;
  background: var(--color-primary);
  color: #FFF;
}

.progressbar .item.active:not(:last-child)::after {
  border-left-color: var(--color-primary);
}

.progressbar .item.active:not(:last-child)::before {
  border-left: none;
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
  .progressbar .item {
    font-size: 11px;
    line-height: 1.4;
    padding: 10px 0;
    border-radius: 6px 0 0 6px;
  }

  .progressbar .item:last-child {
    border-radius: 0 6px 6px 0;
  }

  .progressbar .item:not(:last-child)::before,
  .progressbar .item:not(:last-child)::after {
    border-width: 25px;
    border-left-width: 12px;
  }
}

