---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Service from '../components/Service.astro';
import Flow from '../components/Flow.astro';
import Price from '../components/Price.astro';
import Works from '../components/Works.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="うぇぶまか">
  <Header />
  <main>
    <Hero />
    <Service />
    <Flow />
    <Price />
    <Works />
    <Contact />
  </main>
  <Footer />
</Layout>
