---
interface Props {
	currentStep: 1 | 2 | 3;
}

const { currentStep } = Astro.props;

const steps = [
	{ number: 1, label: 'ご入力' },
	{ number: 2, label: 'ご確認' },
	{ number: 3, label: '完了' },
].map((step) => ({
	...step,
	isActive: step.number <= currentStep,
}));
---

<nav aria-label="お問い合わせ進捗" class="w-full max-w-progress">
	<ol class="progressbar">
		{steps.map((step) => (
			<li class:list={['item', { active: step.isActive }]}>
				<span class="font-medium text-lg">{step.label}</span>
			</li>
		))}
	</ol>
</nav>
